<h1>Resultados</h1>

<ul>
    <% @resultados.each do |resultado| %>
        <li>
            <%= link_to "#" do %>
                <%= resultado.descripcion %>
            <% end %>
        </li>
    <% end %>
</ul>