<h1>Estados</h1>

<ul>
    <% @estados.each do |estado| %>
        <li>
            <%= link_to survey_status_result_path(survey_id: @entidad.id, status_id: @situacion.id, id: estado.id) do %>
                <%= estado.descripcion %>
            <% end %>
        </li>
    <% end %>
</ul>